<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<title>Star  Wars Quiz Game!</title>
		<link href="styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<center>
			<h1>Star  Wars Quiz Game!</h1>
			<strong>High Scores!</strong>  <br>
			<br>
			<% for(var i=0; i< highscores.length; i++ ) { %>
				<strong><%= i+1%>:</strong>
				<%= highscores[i].name%>&nbsp<%= highscores[i].score%>
				<br>
			<% } %>
		</center>	
		<script src="clientscript.js"></script>
	</body>
</html>